h1{
    text-decoration: underline;
    color:darkgoldenrod;
    font-family: serif;
}
section{
    outline:2px darkgrey;
    outline-style: solid;
    padding:2% 1%;
        
}
h3{
    margin-top:-2%;
}